@model IEnumerable<ExperienciaDTO>

@if (Model is not null)
{
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var experiencia in Model)
            {
                <div class="col">
                    <div class=" card h-100">
                        <img src="@experiencia.Imagen" class="card-img-top" alt="imagen experiencia" />
                        <div class="card-body">
                            <h3 class="card-title text-center"><b>@experiencia.NombreEmpresa</b></h3>
                            <h5 class="card-text"><i>@experiencia.Puesto</i></h5>
                            <p class="card-text">@experiencia.Actividades</p>

                            <button type="button" class="btn btn-primary">
                                <a href="@experiencia.Link" style="text-decoration: none; color: inherit;">¡CONOCELOS!</a>
                            </button>
                        </div>
                        <div class="card-footer text-center">
                            <p>@experiencia.Tiempo</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}